body {
}
#changfx
{
	margin-left:600px;
	margin-top:300px;
}
#zhengfangx
{
	margin-left:600px;
	margin-top:300px;
}
#sanjiaox
{
	margin-left:600px;
	margin-top:200px;
}
#yuan
{
	margin-left:600px;
	margin-top:200px;
}
#pxsbs
{
	margin-left:600px;
	margin-top:200px;
}